body {
	background: #fefefe;
}

.diary__header, .sectionHeader {
	color: #1460AA;
}

.header {
	color: yellow;
}

.header__title {
	color: #00487C;
	margin-bottom: 48px;
}

.navigation {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0;
	box-sizing: border-box;
	padding: 10px;
	background: #fff;
}

.navigation__link {
	color: #1A936F;
}

.paragraph {
	padding: 16px;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
	padding-top: 50px;
}

.box, .boxTest {
	width: 100px;
	height: 100px;
	background-color: yellowgreen;
	padding: 10px;
	box-sizing: border-box;
	border: 10px solid red;
	position: sticky;
	top: 0px;
	right: 50%;
}

.top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #1A936F;
	text-decoration: none;
}

.diary {
	clear: left;
}

.about {}

.about__header {
	color: #1460AA
}

.about__link {
	color: #1A936F
}

.about__paragraph {
	padding: 16px;
}

.about__picture {
	width: 100%;
	max-width: 100px;
	display: block;
	float: left;
	margin: 0 16px 16px 0;
}

.day {
	padding: 16px;
}

.day__header {
	margin: 0 0 16px;
	color: #0496FF;
	font-size: 20px;
}

.day__paragraph {
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.day__link {
	color: #1A936F;
}